.cloud {
    background-image: url(../../img/cloud-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    &__row {
        display: flex;
        flex-flow: row;
        padding: 57px 0;
    }
    &__list {
        display: flex;
        flex-flow: row wrap;
        row-gap: 30px;
        column-gap: 40px;
    }
    &__item {
        flex: 1 0 0%;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size: 34px;
        line-height: 140%;
        color: #fff;
        transition: .6s;
        &:nth-child(2n) {
            transform: scale(0.7);
        }
    }
    a {
        &:hover {
            transform: scale(1.1);
        }
    }
}

.container {}
