<section class="about-home">
    <div class="container">
        <div class="about-home__row">
            <div class="about-home__title">
                <h3>О нашем заводе-изготовителе</h3>
            </div>
            <div class="about-home__wrap">
                <div class="about-home__column">
                    <div class="about-home__subtitle">
                        Мы используем немецкие технологии. Особая рецептура и менеджмент качества позволяет нашим товарам конкурировать с ведущими производителями из Германии и Южной Кореи.
                    </div>
                    <div class="about-home__text">
                        Автоматизированная система производства исключает ручной труд при транспортировке сырья и продукции. Возможно контрактное производство.
                    </div>
                    <ul class="about-home__list">
                        <li class="about-home__li about-home__li_first">Гарантия качества</li>
                        <li class="about-home__li about-home__li_second">Собственная логистика</li>
                        <li class="about-home__li about-home__li_third">Сырье из Европы и Азии</li>
                    </ul>
                </div>
                <div class="about-home__column">
                    <div class="about-home__image">
                        <svg width="337" height="384" viewBox="0 0 337 384" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.5">
                        <path d="M204.651 142.81L145.916 108.85V40.9301L204.651 6.97021L263.387 40.9301V108.85L204.651 142.81ZM146.443 108.323L204.651 142.02L262.86 108.323V40.9301L204.651 7.23345L146.443 40.9301V108.323Z" fill="url(#paint0_linear_128_548)"/>
                        <path d="M336.081 133.859L321.858 142.02L263.65 108.323V41.1934L321.858 7.49672L336.081 15.9209V15.1311L321.858 6.97021L263.123 40.6669V40.9301V108.85L321.595 142.547L321.858 142.81L336.081 134.386V133.859Z" fill="url(#paint1_linear_128_548)"/>
                        <path d="M336.082 217.837L322.123 209.94V142.546L336.082 134.385V133.859L321.596 142.283V210.203L336.082 218.627V217.837Z" fill="url(#paint2_linear_128_548)"/>
                        <path d="M87.9711 383.162V345.253L146.18 311.556L204.388 345.253V383.162H204.915V344.99L146.18 311.03L87.4443 344.99V383.162H87.9711Z" fill="url(#paint3_linear_128_548)"/>
                        <path d="M204.915 383.162V345.253L263.387 311.556L321.596 345.253V383.162H322.123V344.99L263.387 311.03L204.652 344.99H204.389V383.162H204.915Z" fill="url(#paint4_linear_128_548)"/>
                        <path d="M223.615 257.326L145.916 212.572V123.065L223.615 78.312L301.315 123.065V212.572L223.615 257.326ZM148.55 210.993L223.615 254.167L298.681 210.993V124.382L223.615 81.2078L148.55 124.382V210.993Z" fill="url(#paint5_linear_128_548)"/>
                        <path d="M141.965 383.162L72.4308 343.147V256.536L147.233 213.362L222.298 256.536V343.147L152.501 383.162H158.032L224.932 344.727V254.957L147.233 210.203L69.7969 254.957V344.727L136.697 383.162H141.965Z" fill="url(#paint6_linear_128_548)"/>
                        <path d="M299.998 213.362L336.082 234.159V231L299.998 210.203L222.299 254.957V344.727L289.463 383.162H294.73L224.933 343.147V256.536L299.998 213.362Z" fill="url(#paint7_linear_128_548)"/>
                        <path d="M336.082 365.524L305.266 383.162H310.533L336.082 368.42V365.524Z" fill="url(#paint8_linear_128_548)"/>
                        <path d="M5.26775 383.161L71.1147 345.253L136.698 383.161H141.966L71.1147 342.357L0 383.161H5.26775Z" fill="url(#paint9_linear_128_548)"/>
                        <path d="M158.033 383.161L223.617 345.253L289.464 383.161H294.731L223.617 342.357L152.502 383.161H158.033Z" fill="url(#paint10_linear_128_548)"/>
                        <path d="M336.082 365.523L305.266 383.162H310.533L336.082 368.419V365.523Z" fill="url(#paint11_linear_128_548)"/>
                        <path d="M145.906 45C148.115 45 149.906 43.2091 149.906 41C149.906 38.7909 148.115 37 145.906 37C143.697 37 141.906 38.7909 141.906 41C141.906 43.2091 143.697 45 145.906 45Z" fill="url(#paint12_linear_128_548)"/>
                        <path d="M204.406 15C208.548 15 211.906 11.6421 211.906 7.49998C211.906 3.35785 208.548 0 204.406 0C200.264 0 196.906 3.35785 196.906 7.49998C196.906 11.6421 200.264 15 204.406 15Z" fill="url(#paint13_linear_128_548)"/>
                        <path d="M263.406 45C265.789 45 267.906 43.1471 267.906 40.5C267.906 38.1176 266.053 36 263.406 36C261.024 36 258.906 37.8529 258.906 40.5C258.906 43.1471 260.759 45 263.406 45Z" fill="url(#paint14_linear_128_548)"/>
                        <path d="M321.906 11C323.563 11 324.906 9.43298 324.906 7.49998C324.906 5.56698 323.563 4 321.906 4C320.249 4 318.906 5.56698 318.906 7.49998C318.906 9.43298 320.249 11 321.906 11Z" fill="url(#paint15_linear_128_548)"/>
                        <path d="M146.406 240C144.406 240 142.906 241.714 142.906 244C142.906 246.286 144.406 248 146.406 248C148.406 248 149.906 246.286 149.906 244C149.906 241.714 148.406 240 146.406 240Z" fill="url(#paint16_linear_128_548)"/>
                        <path d="M145.906 113C148.156 113 149.906 111.031 149.906 108.5C149.906 105.969 148.156 104 145.906 104C143.656 104 141.906 105.969 141.906 108.5C141.906 111.031 143.656 113 145.906 113Z" fill="url(#paint17_linear_128_548)"/>
                        <path d="M204.9 134C200.516 134 196.906 137.613 196.906 142C196.906 146.387 200.516 150 204.9 150C209.283 150 212.893 146.387 212.893 142C213.151 137.613 209.541 134 204.9 134Z" fill="url(#paint18_linear_128_548)"/>
                        <path d="M263.406 113C265.789 113 267.906 110.882 267.906 108.5C267.906 106.118 265.789 104 263.406 104C261.024 104 258.906 106.118 258.906 108.5C258.906 110.882 260.759 113 263.406 113Z" fill="url(#paint19_linear_128_548)"/>
                        <path d="M321.914 149C325.83 149 328.906 146.14 328.906 142.5C328.906 138.86 325.83 136 321.914 136C317.999 136 314.923 138.86 314.923 142.5C314.643 145.88 317.999 149 321.914 149Z" fill="url(#paint20_linear_128_548)"/>
                        <path d="M321.906 201C316.877 201 312.906 204.971 312.906 210C312.906 215.029 316.877 219 321.906 219C326.936 219 330.906 215.029 330.906 210C330.906 204.971 326.936 201 321.906 201Z" fill="url(#paint21_linear_128_548)"/>
                        <path d="M150.906 311.49C150.906 308.996 148.906 307 146.406 307C143.906 307 141.906 308.996 141.906 311.49C141.906 313.985 143.906 315.981 146.406 315.981C148.906 316.23 150.906 313.985 150.906 311.49Z" fill="url(#paint22_linear_128_548)"/>
                        <path d="M263.406 250C266.927 250 269.906 247.021 269.906 243.5C269.906 239.979 266.927 237 263.406 237C259.885 237 256.906 239.979 256.906 243.5C256.906 247.292 259.615 250 263.406 250Z" fill="url(#paint23_linear_128_548)"/>
                        <path d="M263.406 305C259.885 305 256.906 307.979 256.906 311.5C256.906 315.021 259.885 318 263.406 318C266.927 318 269.906 315.021 269.906 311.5C269.906 307.979 266.927 305 263.406 305Z" fill="url(#paint24_linear_128_548)"/>
                        <path d="M87.9062 350C90.801 350 92.9062 347.632 92.9062 345C92.9062 342.105 90.5378 340 87.9062 340C85.0115 340 82.9063 342.368 82.9063 345C82.9062 347.632 85.0115 350 87.9062 350Z" fill="url(#paint25_linear_128_548)"/>
                        <path d="M204.406 351C207.549 351 209.906 348.643 209.906 345.5C209.906 342.357 207.549 340 204.406 340C201.263 340 198.906 342.357 198.906 345.5C198.906 348.381 201.525 351 204.406 351Z" fill="url(#paint26_linear_128_548)"/>
                        </g>
                        <defs>
                        <linearGradient id="paint0_linear_128_548" x1="466.419" y1="478.67" x2="-131.165" y2="-444.463" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#52BBE8"/>
                        <stop offset="0.196" stop-color="#69C3EB"/>
                        <stop offset="0.6037" stop-color="#A3D8F1"/>
                        <stop offset="1" stop-color="#E1EFF8"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_128_548" x1="539.122" y1="431.607" x2="-58.464" y2="-491.527" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#52BBE8"/>
                        <stop offset="0.196" stop-color="#69C3EB"/>
                        <stop offset="0.6037" stop-color="#A3D8F1"/>
                        <stop offset="1" stop-color="#E1EFF8"/>
                        </linearGradient>
                        <linearGradient id="paint2_linear_128_548" x1="509.547" y1="450.752" x2="-88.0361" y2="-472.379" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#52BBE8"/>
                        <stop offset="0.196" stop-color="#69C3EB"/>
                        <stop offset="0.6037" stop-color="#A3D8F1"/>
                        <stop offset="1" stop-color="#E1EFF8"/>
                        </linearGradient>
                        <linearGradient id="paint3_linear_128_548" x1="293.09" y1="590.873" x2="-304.495" y2="-332.26" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#52BBE8"/>
                        <stop offset="0.196" stop-color="#69C3EB"/>
                        <stop offset="0.6037" stop-color="#A3D8F1"/>
                        <stop offset="1" stop-color="#E1EFF8"/>
                        </linearGradient>
                        <linearGradient id="paint4_linear_128_548" x1="375.592" y1="537.467" x2="-221.992" y2="-385.665" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#52BBE8"/>
                        <stop offset="0.196" stop-color="#69C3EB"/>
                        <stop offset="0.6037" stop-color="#A3D8F1"/>
                        <stop offset="1" stop-color="#E1EFF8"/>
                        </linearGradient>
                        <linearGradient id="paint5_linear_128_548" x1="437.341" y1="497.493" x2="-160.243" y2="-425.64" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#52BBE8"/>
                        <stop offset="0.196" stop-color="#69C3EB"/>
                        <stop offset="0.6037" stop-color="#A3D8F1"/>
                        <stop offset="1" stop-color="#E1EFF8"/>
                        </linearGradient>
                        <linearGradient id="paint6_linear_128_548" x1="323.272" y1="571.336" x2="-274.313" y2="-351.798" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#52BBE8"/>
                        <stop offset="0.196" stop-color="#69C3EB"/>
                        <stop offset="0.6037" stop-color="#A3D8F1"/>
                        <stop offset="1" stop-color="#E1EFF8"/>
                        </linearGradient>
                        <linearGradient id="paint7_linear_128_548" x1="421.668" y1="507.639" x2="-175.917" y2="-415.494" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#52BBE8"/>
                        <stop offset="0.196" stop-color="#69C3EB"/>
                        <stop offset="0.6037" stop-color="#A3D8F1"/>
                        <stop offset="1" stop-color="#E1EFF8"/>
                        </linearGradient>
                        <linearGradient id="paint8_linear_128_548" x1="411.398" y1="514.291" x2="-186.198" y2="-408.857" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#52BBE8"/>
                        <stop offset="0.196" stop-color="#69C3EB"/>
                        <stop offset="0.6037" stop-color="#A3D8F1"/>
                        <stop offset="1" stop-color="#E1EFF8"/>
                        </linearGradient>
                        <linearGradient id="paint9_linear_128_548" x1="231.399" y1="630.809" x2="-366.186" y2="-292.325" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#52BBE8"/>
                        <stop offset="0.196" stop-color="#69C3EB"/>
                        <stop offset="0.6037" stop-color="#A3D8F1"/>
                        <stop offset="1" stop-color="#E1EFF8"/>
                        </linearGradient>
                        <linearGradient id="paint10_linear_128_548" x1="338.921" y1="561.206" x2="-258.665" y2="-361.93" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#52BBE8"/>
                        <stop offset="0.196" stop-color="#69C3EB"/>
                        <stop offset="0.6037" stop-color="#A3D8F1"/>
                        <stop offset="1" stop-color="#E1EFF8"/>
                        </linearGradient>
                        <linearGradient id="paint11_linear_128_548" x1="411.397" y1="514.291" x2="-186.197" y2="-408.855" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#52BBE8"/>
                        <stop offset="0.196" stop-color="#69C3EB"/>
                        <stop offset="0.6037" stop-color="#A3D8F1"/>
                        <stop offset="1" stop-color="#E1EFF8"/>
                        </linearGradient>
                        <linearGradient id="paint12_linear_128_548" x1="443.984" y1="501.345" x2="-161.467" y2="-433.469" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#52BBE8"/>
                        <stop offset="0.196" stop-color="#69C3EB"/>
                        <stop offset="0.6037" stop-color="#A3D8F1"/>
                        <stop offset="1" stop-color="#E1EFF8"/>
                        </linearGradient>
                        <linearGradient id="paint13_linear_128_548" x1="491.728" y1="451.017" x2="-95.4556" y2="-455.592" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#52BBE8"/>
                        <stop offset="0.196" stop-color="#69C3EB"/>
                        <stop offset="0.6037" stop-color="#A3D8F1"/>
                        <stop offset="1" stop-color="#E1EFF8"/>
                        </linearGradient>
                        <linearGradient id="paint14_linear_128_548" x1="524.412" y1="443.757" x2="-76.5841" y2="-484.179" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#52BBE8"/>
                        <stop offset="0.196" stop-color="#69C3EB"/>
                        <stop offset="0.6037" stop-color="#A3D8F1"/>
                        <stop offset="1" stop-color="#E1EFF8"/>
                        </linearGradient>
                        <linearGradient id="paint15_linear_128_548" x1="547.882" y1="414.6" x2="-96.5173" y2="-438.214" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#52BBE8"/>
                        <stop offset="0.196" stop-color="#69C3EB"/>
                        <stop offset="0.6037" stop-color="#A3D8F1"/>
                        <stop offset="1" stop-color="#E1EFF8"/>
                        </linearGradient>
                        <linearGradient id="paint16_linear_128_548" x1="338.012" y1="581.972" x2="-341.865" y2="-336.541" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#52BBE8"/>
                        <stop offset="0.196" stop-color="#69C3EB"/>
                        <stop offset="0.6037" stop-color="#A3D8F1"/>
                        <stop offset="1" stop-color="#E1EFF8"/>
                        </linearGradient>
                        <linearGradient id="paint17_linear_128_548" x1="396.069" y1="543.07" x2="-270.018" y2="-371.097" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#52BBE8"/>
                        <stop offset="0.196" stop-color="#69C3EB"/>
                        <stop offset="0.6037" stop-color="#A3D8F1"/>
                        <stop offset="1" stop-color="#E1EFF8"/>
                        </linearGradient>
                        <linearGradient id="paint18_linear_128_548" x1="430.968" y1="491.333" x2="-155.153" y2="-412.9" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#52BBE8"/>
                        <stop offset="0.196" stop-color="#69C3EB"/>
                        <stop offset="0.6037" stop-color="#A3D8F1"/>
                        <stop offset="1" stop-color="#E1EFF8"/>
                        </linearGradient>
                        <linearGradient id="paint19_linear_128_548" x1="493.408" y1="463.81" x2="-107.589" y2="-464.129" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#52BBE8"/>
                        <stop offset="0.196" stop-color="#69C3EB"/>
                        <stop offset="0.6037" stop-color="#A3D8F1"/>
                        <stop offset="1" stop-color="#E1EFF8"/>
                        </linearGradient>
                        <linearGradient id="paint20_linear_128_548" x1="530.258" y1="441.443" x2="-41.4636" y2="-508.089" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#52BBE8"/>
                        <stop offset="0.196" stop-color="#69C3EB"/>
                        <stop offset="0.6037" stop-color="#A3D8F1"/>
                        <stop offset="1" stop-color="#E1EFF8"/>
                        </linearGradient>
                        <linearGradient id="paint21_linear_128_548" x1="488.096" y1="466.671" x2="-112.905" y2="-461.272" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#52BBE8"/>
                        <stop offset="0.196" stop-color="#69C3EB"/>
                        <stop offset="0.6037" stop-color="#A3D8F1"/>
                        <stop offset="1" stop-color="#E1EFF8"/>
                        </linearGradient>
                        <linearGradient id="paint22_linear_128_548" x1="308.726" y1="561.646" x2="-257.194" y2="-313.983" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#52BBE8"/>
                        <stop offset="0.196" stop-color="#69C3EB"/>
                        <stop offset="0.6037" stop-color="#A3D8F1"/>
                        <stop offset="1" stop-color="#E1EFF8"/>
                        </linearGradient>
                        <linearGradient id="paint23_linear_128_548" x1="435.287" y1="509.187" x2="-179.619" y2="-440.226" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#52BBE8"/>
                        <stop offset="0.196" stop-color="#69C3EB"/>
                        <stop offset="0.6037" stop-color="#A3D8F1"/>
                        <stop offset="1" stop-color="#E1EFF8"/>
                        </linearGradient>
                        <linearGradient id="paint24_linear_128_548" x1="403.567" y1="528.132" x2="-211.346" y2="-421.292" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#52BBE8"/>
                        <stop offset="0.196" stop-color="#69C3EB"/>
                        <stop offset="0.6037" stop-color="#A3D8F1"/>
                        <stop offset="1" stop-color="#E1EFF8"/>
                        </linearGradient>
                        <linearGradient id="paint25_linear_128_548" x1="260.566" y1="611.61" x2="-336.926" y2="-310.916" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#52BBE8"/>
                        <stop offset="0.196" stop-color="#69C3EB"/>
                        <stop offset="0.6037" stop-color="#A3D8F1"/>
                        <stop offset="1" stop-color="#E1EFF8"/>
                        </linearGradient>
                        <linearGradient id="paint26_linear_128_548" x1="341.995" y1="557.707" x2="-252.651" y2="-360.426" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#52BBE8"/>
                        <stop offset="0.196" stop-color="#69C3EB"/>
                        <stop offset="0.6037" stop-color="#A3D8F1"/>
                        <stop offset="1" stop-color="#E1EFF8"/>
                        </linearGradient>
                        </defs>
                        </svg>
                        <img src="../img/about-home-bg.png" alt="Завод Hydum Kimya расположен в городе Адана, Турция">
                    </div>
                    <div class="about-home__name">Завод Hydum Kimya расположен в городе Адана, Турция</div>
                </div>
            </div>
        </div>
    </div>
</section>
