<section class="cloud">
    <div class="container">
        <div class="cloud__row">
            <div class="cloud__list">
                <a href="/" class="cloud__item">Лауретсульфат натрия</a>
                <a href="/" class="cloud__item">Полиэтилен BL3</a>
                <a href="/" class="cloud__item">Цетиловый спирт в косметике</a>
                <a href="/" class="cloud__item">Стеариновая кислота</a>
                <a href="/" class="cloud__item">Перкарбонат натрия</a>
                <a href="/" class="cloud__item">Бутилгликоль</a>
                <a href="/" class="cloud__item">Трифосфат натрия</a>
                <a href="/" class="cloud__item">Алкилбензолсульфокислота</a>
                <a href="/" class="cloud__item">Гипохлорит</a>
                <a href="/" class="cloud__item">Бетаин</a>
                <a href="/" class="cloud__item">Гидрокарбонат натрия</a>
                <a href="/" class="cloud__item">Кокамид ДЭА</a>
                <a href="/" class="cloud__item">МОНОЭТАНОЛАМИН (МЭА)</a>
            </div>
        </div>
    </div>
</section>
