<section class="faq">
    <div class="container">
        <div class="faq__row">
            <div class="faq__column">
                <div class="faq__title">
                    <h3>Вопрос-ответ</h3>
                </div>
            </div>
            <div class="faq__column">
                <div class="faq__accordion">
                    <div class="faq__item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <div class="faq__head" data-accordion-element-trigger>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M2.74408 6.91205C3.06951 6.58661 3.59715 6.58661 3.92259 6.91205L10 12.9895L16.0774 6.91205C16.4028 6.58661 16.9305 6.58661 17.2559 6.91205C17.5814 7.23748 17.5814 7.76512 17.2559 8.09056L10.5893 14.7572C10.2638 15.0827 9.73618 15.0827 9.41074 14.7572L2.74408 8.09056C2.41864 7.76512 2.41864 7.23748 2.74408 6.91205Z"
                  fill="#FF671F" />
              </svg>
                            <span itemprop="name">Вопрос 1</span>
                        </div>
                        <div data-accordion-element-content class="faq__content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <p itemprop="text">
                                Здесь все зависит от Вашего бюджета. Конечно стоит сразу рассматривать хорошее насосное оборудование. Мы, например, наиболее часто сталкиваемся со скважинными насосами Grundfos, Pedrollo, Wilo, Speroni, отечественным ЭЦВ, Беламос. В Компании Водобур есть
                                собственный сервис по подбору и установке скважинных насосов - интернет - магазин от официального поставщика оборудования (с сервисными скидками). Кроме того мы сертифицированы многими производителями скважинного оборудования
                                и предоставляем гарантию на работу.

                            </p>
                        </div>
                    </div>
                    <div class="faq__item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <div class="faq__head" data-accordion-element-trigger>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M2.74408 6.91205C3.06951 6.58661 3.59715 6.58661 3.92259 6.91205L10 12.9895L16.0774 6.91205C16.4028 6.58661 16.9305 6.58661 17.2559 6.91205C17.5814 7.23748 17.5814 7.76512 17.2559 8.09056L10.5893 14.7572C10.2638 15.0827 9.73618 15.0827 9.41074 14.7572L2.74408 8.09056C2.41864 7.76512 2.41864 7.23748 2.74408 6.91205Z"
                  fill="#FF671F" />
              </svg>
                            <span itemprop="name">Вопрос 2</span>
                        </div>
                        <div data-accordion-element-content class="faq__content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <p itemprop="text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque ad illo tenetur facere, natus dicta exercitationem esse earum reprehenderit quae tempore error odit incidunt, suscipit voluptates sunt enim in perspiciatis! Ad hic dicta ea exercitationem
                                earum deleniti saepe minus sint! Ducimus possimus rem quod dolorem consectetur provident commodi ab libero, laborum asperiores iste quia nemo in! Autem at atque cumque? Iusto esse delectus mollitia quidem omnis rem architecto
                                quasi sunt dolorem perferendis corporis ad quia odio, temporibus hic, asperiores sint nulla praesentium iste at id et veritatis? At, quae omnis.
                            </p>
                        </div>
                    </div>
                    <div class="faq__item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <div class="faq__head" data-accordion-element-trigger>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M2.74408 6.91205C3.06951 6.58661 3.59715 6.58661 3.92259 6.91205L10 12.9895L16.0774 6.91205C16.4028 6.58661 16.9305 6.58661 17.2559 6.91205C17.5814 7.23748 17.5814 7.76512 17.2559 8.09056L10.5893 14.7572C10.2638 15.0827 9.73618 15.0827 9.41074 14.7572L2.74408 8.09056C2.41864 7.76512 2.41864 7.23748 2.74408 6.91205Z"
                  fill="#FF671F" />
              </svg>
                            <span itemprop="name">Вопрос 3</span>
                        </div>
                        <div data-accordion-element-content class="faq__content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <p itemprop="text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque impedit dolor fugiat ipsa temporibus? Enim earum nihil, voluptates doloremque quia quisquam accusantium ad non quasi dicta atque, tempore nostrum voluptatum! Distinctio dolore quidem veritatis,
                                est eum adipisci accusantium iste aspernatur sint ipsa laboriosam voluptate, recusandae nostrum doloribus ad delectus cum veniam aut, vitae quo natus fugit necessitatibus? Quibusdam, quis laudantium?
                            </p>
                        </div>
                    </div>
                    <div class="faq__item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <div class="faq__head" data-accordion-element-trigger>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M2.74408 6.91205C3.06951 6.58661 3.59715 6.58661 3.92259 6.91205L10 12.9895L16.0774 6.91205C16.4028 6.58661 16.9305 6.58661 17.2559 6.91205C17.5814 7.23748 17.5814 7.76512 17.2559 8.09056L10.5893 14.7572C10.2638 15.0827 9.73618 15.0827 9.41074 14.7572L2.74408 8.09056C2.41864 7.76512 2.41864 7.23748 2.74408 6.91205Z"
                  fill="#FF671F" />
              </svg>
                            <span itemprop="name">Вопрос 4</span>
                        </div>
                        <div data-accordion-element-content class="faq__content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <p itemprop="text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas amet sit sapiente nihil! Modi, ea beatae quas enim provident vitae sint quisquam nisi repellat laudantium possimus consectetur placeat corrupti officiis!
                            </p>
                        </div>
                    </div>
                    <div class="faq__item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <div class="faq__head" data-accordion-element-trigger>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M2.74408 6.91205C3.06951 6.58661 3.59715 6.58661 3.92259 6.91205L10 12.9895L16.0774 6.91205C16.4028 6.58661 16.9305 6.58661 17.2559 6.91205C17.5814 7.23748 17.5814 7.76512 17.2559 8.09056L10.5893 14.7572C10.2638 15.0827 9.73618 15.0827 9.41074 14.7572L2.74408 8.09056C2.41864 7.76512 2.41864 7.23748 2.74408 6.91205Z"
                  fill="#FF671F" />
              </svg>
                            <span itemprop="name">Вопрос 5</span>
                        </div>
                        <div data-accordion-element-content class="faq__content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <p itemprop="text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas amet sit sapiente nihil! Modi, ea beatae quas enim provident vitae sint quisquam nisi repellat laudantium possimus consectetur placeat corrupti officiis!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="imgs">
    <div class="imgs__img"><img src="../img/imgs-1.jpg" alt=""></div>
    <div class="imgs__img"><img src="../img/imgs-2.jpg" alt=""></div>
    <div class="imgs__img"><img src="../img/imgs-3.jpg" alt=""></div>
</section>
