<section class="form-home">
    <div class="container">
        <div class="form-home__row">
            <div class="form-home__column">
                <div class="form-home__title">
                    <h3>Остались вопросы</h3>
                </div>
                <div class="form-home__subtitle">Хотите узнать больше?</div>
                <div class="form-home__text">Заполните заявку и мы свяжемся с вами</div>
                <form action="#">
                    <div class="form-home__form">
                        <input type="text" name="Имя" class="input-reset form__input" placeholder="Ваше имя">
                        <input type="text" name="Имя" class="input-reset form__input" placeholder="Ваш email">
                        <input type="text" name="Имя" class="input-reset form__input" placeholder="Ваш телефон">
                        <input type="submit" value="Отправить заявку">
                    </div>
                </form>
                <div class="form-home__check">Нажимая на кнопку, вы даёте согласие на обработку своих персональных данных</div>
            </div>

        </div>
    </div>
</section>
