<div class="hero">
    <div class="container">
        <div class="hero__row hero__row_main">
            <div class="hero__column">
                <div class="swiper hero__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="hero__item hero__item_mob-1">
                                <div class="hero__title">
                                    <h1>Производитель ПАВ и химического сырья европейского качества</h1>
                                </div>
                                <div class="hero__subtitle">Завод ENY Syntanol (Мерсин, Турция) поставляет в Россию и страны СНГ промышленную химию для производства косметики, моющих средств и бытовой химии, фармацевтики</div>
                                <div class="hero__btns">
                                    <button class="btn-reset hero__button">Смотреть каталог</button>
                                    <button class="btn-reset hero__price-btn" data-graph-path="price">Получить прайс-лист</button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="hero__item hero__item_mob-2">
                                <div class="hero__title">
                                    SLES 70 исключительного качества
                                </div>
                                <div class="hero__subtitle">Завод ENY Syntanol (Мерсин, Турция) поставляет в Россию и страны СНГ промышленную химию для производства косметики, моющих средств и бытовой химии, фармацевтики</div>
                                <div class="hero__btns">
                                    <button class="btn-reset hero__button">Смотреть каталог</button>
                                    <button class="btn-reset hero__price-btn" data-graph-path="price">Получить прайс-лист</button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="hero__item hero__item_mob-3">
                                <div class="hero__title">
                                    LABSA 97
                                </div>
                                <div class="hero__subtitle">Завод ENY Syntanol (Мерсин, Турция) поставляет в Россию и страны СНГ промышленную химию для производства косметики, моющих средств и бытовой химии, фармацевтики</div>
                                <div class="hero__btns">
                                    <button class="btn-reset hero__button">Смотреть каталог</button>
                                    <button class="btn-reset hero__price-btn" data-graph-path="price">Получить прайс-лист</button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="hero__item hero__item_mob-4">
                                <div class="hero__title">
                                    Силикат натрия
                                </div>
                                <div class="hero__subtitle">Завод ENY Syntanol (Мерсин, Турция) поставляет в Россию и страны СНГ промышленную химию для производства косметики, моющих средств и бытовой химии, фармацевтики</div>
                                <div class="hero__btns">
                                    <button class="btn-reset hero__button">Смотреть каталог</button>
                                    <button class="btn-reset hero__price-btn" data-graph-path="price">Получить прайс-лист</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="hero__row hero__hidden">
                <div class="hero__col">
                    <div class="hero__head">
                        SLES 70 исключительного качества
                    </div>
                    <div class="hero__subhead"></div>
                </div>
                <div class="hero__half">
                    <div class="hero__half-col">
                        <div class="hero__head">LABSA 97</div>
                        <div class="hero__subhead"></div>
                    </div>
                    <div class="hero__half-col">
                        <div class="hero__head">Силикат натрия</div>
                        <div class="hero__subhead"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
